# Background:

As a talent sourcing and management company, we are interested in finding talented individuals for sourcing these candidates to technology companies. Finding talented candidates is not easy, for several reasons. The first reason is one needs to understand what the role is very well to fill in that spot, this requires understanding the client’s needs and what they are looking for in a potential candidate. The second reason is one needs to understand what makes a candidate shine for the role we are in search for. Third, where to find talented individuals is another challenge.

The nature of our job requires a lot of human labor and is full of manual operations. Towards automating this process we want to build a better approach that could save us time and finally help us spot potential candidates that could fit the roles we are in search for. Moreover, going beyond that for a specific role we want to fill in we are interested in developing a machine learning powered pipeline that could spot talented individuals, and rank them based on their fitness.

We are right now semi-automatically sourcing a few candidates, therefore the sourcing part is not a concern at this time but we expect to first determine best matching candidates based on how fit these candidates are for a given role. We generally make these searches based on some keywords such as “full-stack software engineer”, “engineering manager” or “aspiring human resources” based on the role we are trying to fill in. These keywords might change, and you can expect that specific keywords will be provided to you.

Assuming that we were able to list and rank fitting candidates, we then employ a review procedure, as each candidate needs to be reviewed and then determined how good a fit they are through manual inspection. This procedure is done manually and at the end of this manual review, we might choose not the first fitting candidate in the list but maybe the 7th candidate in the list. If that happens, we are interested in being able to re-rank the previous list based on this information. This supervisory signal is going to be supplied by starring the 7th candidate in the list. Starring one candidate actually sets this candidate as an ideal candidate for the given role. Then, we expect the list to be re-ranked each time a candidate is starred.

# Data Description:

The data comes from our sourcing efforts. We removed any field that could directly reveal personal details and gave a unique identifier for each candidate.

Attributes:
id : unique identifier for candidate (numeric)

job_title : job title for candidate (text)

location : geographical location for candidate (text)

connections: number of connections candidate has, 500+ means over 500 (text)

Output (desired target):
fit - how fit the candidate is for the role? (numeric, probability between 0-1)

Keywords: “Aspiring human resources” or “seeking human resources”

# Goal(s):

Predict how fit the candidate is based on their available information (variable fit)

# Success Metric(s):

Rank candidates based on a fitness score.

Re-rank candidates when a candidate is starred.

# Bonus(es):

We are interested in a robust algorithm, tell us how your solution works and show us how your ranking gets better with each starring action.

How can we filter out candidates which in the first place should not be in this list?

Can we determine a cut-off point that would work for other roles without losing high potential candidates?

Do you have any ideas that we should explore so that we can even automate this procedure to prevent human bias?

In [9]:
import pandas as pd
df = pd.read_csv('potential-talents.csv')
df

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN
...,...,...,...,...,...
99,100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,NaN
100,101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+,NaN
101,102,Business Intelligence and Analytics at Travelers,Greater New York City Area,49,NaN
102,103,Always set them up for Success,Greater Los Angeles Area,500+,NaN
103,104,Director Of Administration at Excellence Logging,"Katy, Texas",500+,NaN

In [13]:
#test dataframe
df_test = df[:10]
df_test

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN
6,7,Student at Humber College and Aspiring Human R...,Kanada,61,NaN
7,8,HR Senior Specialist,San Francisco Bay Area,500+,NaN
8,9,Student at Humber College and Aspiring Human R...,Kanada,61,NaN
9,10,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN

In [5]:
from sentence_transformers import SentenceTransformer, util
model = SentenceTransformer('all-MiniLM-L6-v2')

In [ ]:
(df_test['job_title'] + ' ' + df_test['location'])

In [23]:
#compute embeddings of job_title
input_embeddings = model.encode(df_test['job_title'], convert_to_tensor=True)
input_embeddings

tensor([[-0.0718,  0.0023, -0.0179,  ..., -0.1453, -0.0258, -0.0055],
        [-0.0121,  0.0191,  0.0381,  ...,  0.0064, -0.0787,  0.0745],
        [-0.0312,  0.0480, -0.0141,  ..., -0.0618, -0.0216,  0.0370],
        ...,
        [-0.0691,  0.1082, -0.0424,  ..., -0.0858,  0.0337,  0.0308],
        [-0.0044, -0.0153,  0.0209,  ..., -0.1155, -0.0885,  0.0310],
        [-0.0359, -0.0234, -0.0327,  ..., -0.0519, -0.0302,  0.0755]])

In [31]:
#search query
query = ['seeking human resources']

In [32]:
#compute embeddings for query
query_embedding = model.encode(query, convert_to_tensor=True)

In [33]:
#Compute cosine-similarities for each sentence with each other sentence
cosine_scores = util.cos_sim(query_embedding, input_embeddings)
df_test['fit'] = cosine_scores[0] #assigning the cosine score as rank to 'fit' column
df_test #displaying the ranks, where 1 corresponds to close similarity with query and 0 corresponds to no similarity

C:\Users\bijil\AppData\Local\Temp/ipykernel_2776/1463760884.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['fit'] = cosine_scores[0] #assigning the cosine score as rank to 'fit' column

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,0.427339
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,0.224822
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.772701
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,0.377238
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,0.231743
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,0.780673
6,7,Student at Humber College and Aspiring Human R...,Kanada,61,0.629533
7,8,HR Senior Specialist,San Francisco Bay Area,500+,0.472147
8,9,Student at Humber College and Aspiring Human R...,Kanada,61,0.629533
9,10,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,0.807988

In [36]:
#define a new query based of the ranked candidates i.e. pick an ideal candidate
new_query = df_test.iloc[9]['job_title']
new_query

'Seeking Human Resources HRIS and Generalist Positions'

In [37]:
#compute embeddings for new query
query_embedding = model.encode(new_query, convert_to_tensor=True)

In [38]:
#Re-ranking
cosine_scores = util.cos_sim(query_embedding, input_embeddings)
df_test['fit'] = cosine_scores[0]
df_test

C:\Users\bijil\AppData\Local\Temp/ipykernel_2776/1128069322.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['fit'] = cosine_scores[0] #assigning the cosine score as rank to 'fit' column

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,0.469172
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,0.164049
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.737092
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,0.363799
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,0.169533
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,0.767746
6,7,Student at Humber College and Aspiring Human R...,Kanada,61,0.708050
7,8,HR Senior Specialist,San Francisco Bay Area,500+,0.580745
8,9,Student at Humber College and Aspiring Human R...,Kanada,61,0.708050
9,10,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,1.000000